<section class="form-page">

  <h2>
    Edit Student
  </h2>

  @if (
    loadingStudent()
    ) {

    <p>
      Loading student...
    </p>

  } @else {

    <form
      (ngSubmit)="updateStudent()">

      <mat-form-field
        appearance="outline">

        <mat-label>
          Student Name
        </mat-label>

        <input
          matInput
          type="text"
          name="name"
          [ngModel]="student().name"
          (ngModelChange)="
            student.update(
              s => ({
                ...s,
                name: $event
              })
            )
          "
          required>

      </mat-form-field>

      <mat-form-field
        appearance="outline">

        <mat-label>
          Age
        </mat-label>

        <input
          matInput
          type="number"
          name="age"
          [ngModel]="student().age"
          (ngModelChange)="
            student.update(
              s => ({
                ...s,
                age: +$event
              })
            )
          "
          required
          min="18"
          max="120">

      </mat-form-field>

      <mat-form-field
        appearance="outline">

        <mat-label>
          Course
        </mat-label>

        <input
          matInput
          type="text"
          name="course"
          [ngModel]="student().course"
          (ngModelChange)="
            student.update(
              s => ({
                ...s,
                course: $event
              })
            )
          "
          required>

      </mat-form-field>

      <mat-form-field
        appearance="outline">

        <mat-label>
          Department
        </mat-label>

        <mat-select
          name="departmentId"
          [ngModel]="student().departmentId"
          (ngModelChange)="
            student.update(
              s => ({
                ...s,
                departmentId: $event
              })
            )
          "
          required>

          @for (
            department
              of departments();
            track department.id
            ) {

            <mat-option
              [value]="department.id">

              {{ department.name }}

            </mat-option>

          }

        </mat-select>

      </mat-form-field>

      @if (
        loadingDepartments()
        ) {

        <p>
          Loading departments...
        </p>

      }

      @if (
        departmentError()
        ) {

        <p>
          {{ departmentError() }}
        </p>

      }

      @if (
        errorMessage()
        ) {

        <p>
          {{ errorMessage() }}
        </p>

      }

      <button
        mat-flat-button
        type="submit"
        [disabled]="
          saving()
          ||
          loadingDepartments()
          ||
          departments().length === 0
        ">

        @if (
          saving()
          ) {

          Updating...

        } @else {

          Update Student

        }

      </button>

    </form>

  }

</section>
